EGEIAS/src/main/webapp/wsdl/Hesap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://canias" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://canias" xmlns:intf="http://canias" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://canias" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="kkok">
    <complexType>
     <sequence>
      <element name="a" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="kkokResponse">
    <complexType>
     <sequence>
      <element name="kkokReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="kkokRequest">

      <wsdl:part element="impl:kkok" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="kkokResponse">

      <wsdl:part element="impl:kkokResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Hesap">

      <wsdl:operation name="kkok">

         <wsdl:input message="impl:kkokRequest" name="kkokRequest">

       </wsdl:input>

         <wsdl:output message="impl:kkokResponse" name="kkokResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HesapSoapBinding" type="impl:Hesap">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="kkok">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="kkokRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="kkokResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HesapService">

      <wsdl:port binding="impl:HesapSoapBinding" name="Hesap">

         <wsdlsoap:address location="http://portal.egemet.com.tr/EGEIAS/services/Hesap"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
